/* stylelint-disable at-rule-no-unknown */
/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind CSS v4 syntax */
@layer fonts, base;

:root {
    /* 폰트 */
    --font-pretendard: 'Pretendard', sans-serif;
    --font-base-sans:
        'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
        'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    /* 색상 */
    --color-primary: #1db954;
    --color-secondary-01: #000000;
    --color-secondary-02: #1f1f1f;
    --color-secondary-03: #ffffff;
    --color-neutral-01: #b2b2b2;
    --color-neutral-02: #777777;
    --color-neutral-03: #535353;
    --z-index: 1;
    --header-height: 64px;
}

/* @layer reset {
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    a,
    abbr,
    acronym,
    address,
    applet,
    article,
    aside,
    audio,
    b,
    big,
    blockquote,
    body,
    canvas,
    caption,
    center,
    cite,
    code,
    dd,
    del,
    details,
    dfn,
    div,
    dl,
    dt,
    em,
    embed,
    fieldset,
    figcaption,
    figure,
    footer,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    header,
    hgroup,
    html,
    i,
    iframe,
    img,
    ins,
    kbd,
    label,
    legend,
    li,
    mark,
    menu,
    nav,
    object,
    ol,
    output,
    p,
    pre,
    q,
    ruby,
    s,
    samp,
    section,
    small,
    span,
    strike,
    strong,
    sub,
    summary,
    sup,
    table,
    tbody,
    td,
    tfoot,
    th,
    thead,
    time,
    tr,
    tt,
    u,
    ul,
    var,
    video {
        border: 0;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
    }

    button {
        color: var(--text-subdued, #b3b3b3);
        padding: 0;
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }

    ol,
    ul {
        list-style: none;
    }

    blockquote,
    q {
        quotes: none;
    }

    blockquote:after,
    blockquote:before,
    q:after,
    q:before {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
} */

@layer fonts {
    html {
        --fallback-fonts:
            Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;
    }

    body,
    button,
    input,
    select,
    textarea {
        font-family: var(--font-sans), sans-serif;
    }

    .circular-sp-vietnamese,
    .circular-sp-vietnamese button,
    .circular-sp-vietnamese input,
    .circular-sp-vietnamese select,
    .circular-sp-vietnamese textarea {
        font-family: var(--encore-body-font-stack);
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer base {
    .base-dark-theme {
        --background-base: #121212;
        --background-highlight: #1f1f1f;
        --background-press: #000;
        --background-elevated-base: #1f1f1f;
        --background-elevated-highlight: #2a2a2a;
        --background-elevated-press: #191919;
        --background-tinted-base: #ffffff1a;
        --background-tinted-highlight: #ffffff24;
        --background-tinted-press: #ffffff36;
        --background-noise: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=');
        --text-base: #fff;
        --text-subdued: #b3b3b3;
        --text-bright-accent: #1ed760;
        --text-negative: #f3727f;
        --text-warning: #ffa42b;
        --text-positive: #1ed760;
        --text-announcement: #4cb3ff;
        --essential-base: #fff;
        --essential-subdued: #7c7c7c;
        --essential-bright-accent: #1ed760;
        --essential-negative: #ed2c3f;
        --essential-warning: #ffa42b;
        --essential-positive: #1ed760;
        --essential-announcement: #4cb3ff;
        --decorative-base: #fff;
        --decorative-subdued: #292929;
    }

    /* 2줄 말줄임 */
    .text-ellipsis-2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
    }

    /* 배경 그라데이션 + 노이즈 */
    .bg-gradient-noise {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.6) 0, var(--background-base) 100%),
            var(--background-noise);
        background-color: rgb(83, 83, 83);
        background-repeat: no-repeat;
        transition-property: background-color;
        transition-duration: 1s;
        transition-timing-function: ease;
        z-index: -1;
    }

    .grid-layout {
        display: grid;
        grid-template-areas:
            'global-nav global-nav global-nav'
            'left-sidebar main-view main-view';
        grid-template-columns: 420px 1fr;
        grid-template-rows: var(--header-height) calc(100vh - var(--header-height));
        column-gap: 8px;
    }

    .grid-global-nav {
        grid-area: global-nav;
    }

    .grid-left-sidebar {
        grid-area: left-sidebar;
    }

    .grid-main-view {
        grid-area: main-view;
    }

    /* 스크롤바 숨기기 */
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }

    /* 스크롤 패딩 설정 */
    .scroll-padding-left {
        scroll-padding-left: 1.5rem; /* 24px */
    }
}
