/* stylelint-disable at-rule-no-unknown */
/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind CSS v4 syntax */
@import 'tailwindcss';
@import './base.css';

:root {
    /* 기본 색상 */
    --background: var(--color-secondary-01);
    --foreground: var(--color-secondary-03);
}

/* 특정 구조 내에만 간단히 변수 적용하고 싶을 때, 추후 재정의 불필요할 때 사용 */
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-base-sans);
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
}
